.clients__list {
   display: flex;
   flex-wrap: wrap;
   margin: -15px;
  }
 
 .clients__item {
   margin: 15px;

   width: calc((100% - 60px)/2);
   min-height: 92px;
   border: 1px solid var(--icon-color);
   transition: border-color var(--time) var(--timing-function);

  @media screen and (min-width: 768px) {
    width: calc((100% - 90px)/3);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 180px)/6);
  }

   &:hover,
   &:focus {
    border-color: var(--accent-blue-color);
  }
  }
  
 .clients__link {
   display: flex;
   justify-content: center;
   align-items: center;

   padding: 16px 0px;
   transition: fill var(--time) var(--timing-function);
 }
  
 .clients__link:hover .clients__icon,
 .clients__link:focus .clients__icon {
   fill: var(--accent-blue-color);
  }
  
  .clients__icon {
    display: block;
    fill: var(--icon-color);
    transition: fill var(--time) var(--timing-function);
  }