.features__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
 
 .features__item {
  width: calc(100% - 30px);
  margin: 15px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px)/2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 120px) / 4);
  }
 }
 
 .features__thumb {
   height: 120px;
   display: flex;
   justify-content: center;
   align-items: center;

   margin-bottom: 30px;
    
   background-color: var(--bg-icon);
   border-radius: 4px;
  }
 
 .features__title {
   margin-bottom: 10px;
 
   font-size: inherit;
   line-height: 1.14;
   text-transform: uppercase;

   text-align: center;

   @media screen and (min-width: 768px) {
    text-align: start;
   }
 }
 
 .features__text {
   line-height: 1.71;
   color: var(--light-text-color);
 }