/* Title each section */

.section-title {
  margin-bottom: 30px;

  font-size: var(--font-sz-28);
  line-height: 1.17;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  
    font-size: var(--font-sz-36);
  }
 }